[submodule "fosscord/api"]
	path = api
	url = https://github.com/fosscord/fosscord-api
[submodule "fosscord/gateway"]
	path = gateway
	url = https://github.com/fosscord/fosscord-gateway
[submodule "fosscord/themes"]
	path = themes
	url = https://github.com/fosscord/fosscord-themes
[submodule "fosscord/plugins"]
	path = plugins
	url = https://github.com/fosscord/fosscord-plugins
[submodule "fosscord/media"]
	path = media
	url = https://github.com/fosscord/fosscord-media
[submodule "fosscord/server-util"]
	path = server-util
	url = https://github.com/fosscord/fosscord-server-util
[submodule "fosscord/cdn"]
	path = cdn
	url = https://github.com/fosscord/fosscord-cdn
[submodule "fosscord/ui"]
	path = ui
	url = https://github.com/fosscord/fosscord-ui
[submodule "fosscord/client"]
	path = client
	url = https://github.com/fosscord/fosscord-client
[submodule "fosscord/dashboard"]
	path = dashboard
	url = https://github.com/fosscord/fosscord-dashboard
[submodule "fosscord/support"]
	path = support
	url = https://github.com/fosscord/fosscord-support
[submodule "fosscord/landingpage"]
	path = landingpage
	url = https://github.com/fosscord/fosscord-landingpage
[submodule "docs"]
	path = docs
	url = https://github.com/fosscord/fosscord-docs
	branch = master
[submodule "fosscord.js"]
	path = fosscord.js
	url = https://github.com/fosscord/fosscord.js/
[submodule "collection"]
	path = collection
	url = https://github.com/fosscord/fosscord.js-collection
	branch = master
[submodule "api"]
	branch = master
[submodule "cdn"]
	branch = master
[submodule "client"]
	branch = master
[submodule "dashboard"]
	branch = master
[submodule "gateway"]
	branch = master
[submodule "landingpage"]
	branch = master
[submodule "media"]
	branch = master
[submodule "plugins"]
	branch = master
[submodule "server-util"]
	branch = master
[submodule "support"]
	branch = master
[submodule "themes"]
	branch = master
[submodule "ui"]
	branch = master
[submodule "fosscord-voice-gateway"]
	path = fosscord-voice-gateway
	url = https://github.com/fosscord/fosscord-voice-gateway
	branch = master
[submodule "fosscord-rtc"]
	path = fosscord-rtc
	url = https://github.com/fosscord/fosscord-rtc
	branch = master
