[submodule "docs"]
	url = https://github.com/fosscord/fosscord-docs
	branch = master
[submodule "fosscord.js"]
	url = https://github.com/fosscord/fosscord.js/
	branch = master
[submodule "collection"]
	path = collection
	url = https://github.com/fosscord/fosscord.js-collection
	branch = master
[submodule "api"]
	url = https://github.com/fosscord/fosscord-api
	branch = master
[submodule "cdn"]
	url = https://github.com/fosscord/fosscord-cdn
	branch = master
[submodule "client"]
	url = https://github.com/fosscord/fosscord-client
	branch = master
[submodule "dashboard"]
	url = https://github.com/fosscord/fosscord-dashboard
	branch = master
[submodule "gateway"]
	url = https://github.com/fosscord/fosscord-gateway
	branch = master
[submodule "landingpage"]
	url = https://github.com/fosscord/fosscord-landingpage
	branch = master
[submodule "plugins"]
	url = https://github.com/fosscord/fosscord-plugins
	branch = master
[submodule "server-util"]
	url = https://github.com/fosscord/fosscord-server-util
	branch = master
[submodule "support"]
	url = https://github.com/fosscord/fosscord-support
	branch = master
[submodule "themes"]
	url = https://github.com/fosscord/fosscord-themes
	branch = master
[submodule "ui"]
	url = https://github.com/fosscord/fosscord-ui
	branch = master
[submodule "voice-gateway"]
	url = https://github.com/fosscord/fosscord-voice-gateway
	branch = master
[submodule "rtc"]
	url = https://github.com/fosscord/fosscord-rtc
	branch = master
